.row {
	background-color: #eff0af;
	width: 100%;
}
.row + li{
	background-color: #c5d4be;
	width: 100%;
}
li {
	list-style: none;
	padding: 3px;
}
.personData {
	width: 24%;
	display: inline-block;
}
